In [13]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [6]:
nobel = pd.read_csv('nobel.csv')
nobel.head()

,year,category,prize,motivation,prize_share,laureate_id,laureate_type,full_name,birth_date,birth_city,birth_country,sex,organization_name,organization_city,organization_country,death_date,death_city,death_country
0,1901,Chemistry,The Nobel Prize in Chemistry 1901,"""in recognition of the extraordinary services ...",1/1,160,Individual,Jacobus Henricus van 't Hoff,1852-08-30,Rotterdam,Netherlands,Male,Berlin University,Berlin,Germany,1911-03-01,Berlin,Germany
1,1901,Literature,The Nobel Prize in Literature 1901,"""in special recognition of his poetic composit...",1/1,569,Individual,Sully Prudhomme,1839-03-16,Paris,France,Male,NaN,NaN,NaN,1907-09-07,Châtenay,France
2,1901,Medicine,The Nobel Prize in Physiology or Medicine 1901,"""for his work on serum therapy, especially its...",1/1,293,Individual,Emil Adolf von Behring,1854-03-15,Hansdorf (Lawice),Prussia (Poland),Male,Marburg University,Marburg,Germany,1917-03-31,Marburg,Germany
3,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,462,Individual,Jean Henry Dunant,1828-05-08,Geneva,Switzerland,Male,NaN,NaN,NaN,1910-10-30,Heiden,Switzerland
4,1901,Peace,The Nobel Peace Prize 1901,NaN,1/2,463,Individual,Frédéric Passy,1822-05-20,Paris,France,Male,NaN,NaN,NaN,1912-06-12,Paris,France

In [29]:
# most commonly awarded gender and birth country

top_gender = nobel['sex'].value_counts().idxmax()
top_country = nobel['birth_country'].value_counts().idxmax()

print('The most common gender of winners is', top_gender, 'with most of the Nobel Prize winners born in the', top_country, '.')

The most common gender of winners is Male with most of the Nobel Prize winners born in the United States of America .

In [74]:
# extra column with US-born nobel prize winners
nobel['US_born'] = (nobel['birth_country'] == 'United States of America').astype(int)


# extra decade column
nobel['decade'] = (nobel['year']//10)*10

# decade of highest proportion of US winners
max_decade_usa = nobel.groupby('decade')['US_born'].mean().idxmax()
max_number_usa = nobel.groupby('decade')['US_born'].count()[max_decade_usa]
print('In the', max_decade_usa,'s most Nobel Prize winners were US born, with a total of', max_number_usa, 'Nobel Prize winners.')

In the 2000 s most Nobel Prize winners were US born, with a total of 123 Nobel Prize winners.

In [82]:
# extra column with female winners
nobel['fem_winners']  = (nobel['sex'] == 'Female').astype(int)

# decade of highest proportion of female laureates
max_decade_fem = nobel.groupby('decade')['fem_winners'].mean().idxmax()

# category of highest proportion of female laureates
max_category_fem = nobel.groupby('category')['fem_winners'].mean().idxmax()

# dictionary
max_female_dict = {max_decade_fem: max_category_fem}
max_female_dict

{2020: 'Literature'}

In [104]:
# first woman to receive nobel prize
female_winners = nobel[nobel['fem_winners'] == 1] 
earliest_female_winner = female_winners.loc[female_winners['year'].idxmin()]

# name
first_woman_name = earliest_female_winner['full_name']

# field
first_woman_category = earliest_female_winner['category']

print('The first woman to win the Nobel Prize was', first_woman_name, 'at', earliest_female_winner['year'], 'in the field of', first_woman_category, '.')

The first woman to win the Nobel Prize was Marie Curie, née Sklodowska at 1903 in the field of Physics .

In [116]:
# individuals who won Nobel prize more than once
prizes_per_person = nobel['full_name'].value_counts()
repeat_list = list(prizes_per_person[prizes_per_person >= 2].index)
repeat_list

['Comité international de la Croix Rouge (International Committee of the Red Cross)',
 'Linus Carl Pauling',
 'John Bardeen',
 'Frederick Sanger',
 'Marie Curie, née Sklodowska',
 'Office of the United Nations High Commissioner for Refugees (UNHCR)']